In [1]:
import numpy as np
import pandas as pd
import time
from sklearn.metrics import confusion_matrix, precision_score
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.neural_network import MLPClassifier

In [2]:
#Yaris verilerini okutma
df_races = pd.read_csv('data/races.csv')
df_races = df_races.drop(columns=['fp1_date','fp1_time','fp2_date','fp2_time','fp3_date','fp3_time','quali_date','quali_time','sprint_date','sprint_time','time'])
df_races = df_races.sort_values(by=['year','round'])
df_races = df_races[df_races['year'] < 2023]
df_races.reset_index(inplace = True, drop = True)
df_races.head()

,raceId,year,round,circuitId,name,date,url
0,833,1950,1,9,British Grand Prix,1950-05-13,http://en.wikipedia.org/wiki/1950_British_Gran...
1,834,1950,2,6,Monaco Grand Prix,1950-05-21,http://en.wikipedia.org/wiki/1950_Monaco_Grand...
2,835,1950,3,19,Indianapolis 500,1950-05-30,http://en.wikipedia.org/wiki/1950_Indianapolis...
3,836,1950,4,66,Swiss Grand Prix,1950-06-04,http://en.wikipedia.org/wiki/1950_Swiss_Grand_...
4,837,1950,5,13,Belgian Grand Prix,1950-06-18,http://en.wikipedia.org/wiki/1950_Belgian_Gran...

In [3]:
#Pist bilgilerini okutma
df_circuits = pd.read_csv('data/circuits.csv')
df_circuits = df_circuits.set_index('circuitId')
df_circuits.head()

,circuitRef,name,location,country,lat,lng,alt,url
circuitId,,,,,,,,
1,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.84970,144.96800,10,http://en.wikipedia.org/wiki/Melbourne_Grand_P...
2,sepang,Sepang International Circuit,Kuala Lumpur,Malaysia,2.76083,101.73800,18,http://en.wikipedia.org/wiki/Sepang_Internatio...
3,bahrain,Bahrain International Circuit,Sakhir,Bahrain,26.03250,50.51060,7,http://en.wikipedia.org/wiki/Bahrain_Internati...
4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57000,2.26111,109,http://en.wikipedia.org/wiki/Circuit_de_Barcel...
5,istanbul,Istanbul Park,Istanbul,Turkey,40.95170,29.40500,130,http://en.wikipedia.org/wiki/Istanbul_Park

In [4]:
#Yaris bilgilerindeki idleri isimler ile degistirme
for i in range(len(df_races.index)):
    x = df_races.iloc[i]['circuitId']
    df_races.at[i,'circuitId'] = df_circuits.loc[x]['circuitRef']
    df_races.at[i,'lat'] = df_circuits.loc[x]['lat']
    df_races.at[i,'lng'] = df_circuits.loc[x]['lng'] 
    df_races.at[i,'country'] = df_circuits.loc[x]['country']   
    
df_races.head()

,raceId,year,round,circuitId,name,date,url,lat,lng,country
0,833,1950,1,silverstone,British Grand Prix,1950-05-13,http://en.wikipedia.org/wiki/1950_British_Gran...,52.0786,-1.01694,UK
1,834,1950,2,monaco,Monaco Grand Prix,1950-05-21,http://en.wikipedia.org/wiki/1950_Monaco_Grand...,43.7347,7.42056,Monaco
2,835,1950,3,indianapolis,Indianapolis 500,1950-05-30,http://en.wikipedia.org/wiki/1950_Indianapolis...,39.7950,-86.23470,USA
3,836,1950,4,bremgarten,Swiss Grand Prix,1950-06-04,http://en.wikipedia.org/wiki/1950_Swiss_Grand_...,46.9589,7.40194,Switzerland
4,837,1950,5,spa,Belgian Grand Prix,1950-06-18,http://en.wikipedia.org/wiki/1950_Belgian_Gran...,50.4372,5.97139,Belgium

In [5]:
#Yil ve round bilgisini alma
race = pd.read_csv('data/races.csv')
race = race.sort_values(by=['year','round'])
rounds = []
for a in np.array(race.year.unique()):
    rounds.append([a, list(race[race.year == a]['round'])])
print(rounds[:5])

[[1950, [1, 2, 3, 4, 5, 6, 7]], [1951, [1, 2, 3, 4, 5, 6, 7, 8]], [1952, [1, 2, 3, 4, 5, 6, 7, 8]], [1953, [1, 2, 3, 4, 5, 6, 7, 8, 9]], [1954, [1, 2, 3, 4, 5, 6, 7, 8, 9]]]

In [6]:
#Sonuclar verisetini okutma
df_results = pd.read_csv('data/results.csv')
df_results.head()

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1

In [7]:
#Hesaplama sirasinda kullanilmayacak sutunlari atma
df_results = df_results.drop(columns=['number','position','positionText','laps','time','rank','fastestLapTime','fastestLapSpeed','resultId', 'fastestLap'])
df_results.head()

,raceId,driverId,constructorId,grid,positionOrder,points,milliseconds,statusId
0,18,1,1,1,1,10.0,5690616,1
1,18,2,2,5,2,8.0,5696094,1
2,18,3,3,7,3,6.0,5698779,1
3,18,4,4,11,4,5.0,5707797,1
4,18,5,1,3,5,4.0,5708630,1

In [8]:
#Verisetlerinde bulunan status bilgilerini duzenlemek icin veriseti alma
df_status = pd.read_csv('data/status.csv')
df_status = df_status.set_index('statusId')
df_status.head()

                status
statusId
1             Finished
2         Disqualified
3             Accident
4            Collision
5               Engine

In [9]:
#Constructor bilgilerini duzenlemek icin verisetini olusturma
df_cons = pd.read_csv('data/constructors.csv')
df_cons = df_cons.set_index('constructorId')
df_cons.head()

,constructorRef,name,nationality,url
constructorId,,,,
1,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren
2,bmw_sauber,BMW Sauber,German,http://en.wikipedia.org/wiki/BMW_Sauber
3,williams,Williams,British,http://en.wikipedia.org/wiki/Williams_Grand_Pr...
4,renault,Renault,French,http://en.wikipedia.org/wiki/Renault_in_Formul...
5,toro_rosso,Toro Rosso,Italian,http://en.wikipedia.org/wiki/Scuderia_Toro_Rosso

In [10]:
#Orijinal yaris verisetini bozmamak icin kopyalama
df_races2 = df_races.copy()
df_races2 = df_races2.set_index('raceId')
df_races2 = df_races2.sort_values(by=['raceId'])
df_races2.head()

,year,round,circuitId,name,date,url,lat,lng,country
raceId,,,,,,,,,
1,2009,1,albert_park,Australian Grand Prix,2009-03-29,http://en.wikipedia.org/wiki/2009_Australian_G...,-37.84970,144.96800,Australia
2,2009,2,sepang,Malaysian Grand Prix,2009-04-05,http://en.wikipedia.org/wiki/2009_Malaysian_Gr...,2.76083,101.73800,Malaysia
3,2009,3,shanghai,Chinese Grand Prix,2009-04-19,http://en.wikipedia.org/wiki/2009_Chinese_Gran...,31.33890,121.22000,China
4,2009,4,bahrain,Bahrain Grand Prix,2009-04-26,http://en.wikipedia.org/wiki/2009_Bahrain_Gran...,26.03250,50.51060,Bahrain
5,2009,5,catalunya,Spanish Grand Prix,2009-05-10,http://en.wikipedia.org/wiki/2009_Spanish_Gran...,41.57000,2.26111,Spain

In [11]:
df_races = df_races.drop(columns=['raceId'])

In [12]:
#Surucu bilgilerini tutma
df_drivers = pd.read_csv('data/drivers.csv')
df_drivers = df_drivers.set_index('driverId')
df_drivers.head()

,driverRef,number,code,forename,surname,dob,nationality,url
driverId,,,,,,,,
1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
2,heidfeld,\N,HEI,Nick,Heidfeld,1977-05-10,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
3,rosberg,6,ROS,Nico,Rosberg,1985-06-27,German,http://en.wikipedia.org/wiki/Nico_Rosberg
4,alonso,14,ALO,Fernando,Alonso,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
5,kovalainen,\N,KOV,Heikki,Kovalainen,1981-10-19,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen

In [13]:
#Sonuclar verisetini daha okunabilir hale getirmek icin diger verisetlerinden bilgilerle guncelleme
for i in range(len(df_results.index)):
    stat = df_results.iloc[i]['statusId']
    cs = df_results.iloc[i]['constructorId']
    rrac = df_results.iloc[i]['raceId']
    ddId = df_results.iloc[i]['driverId']
    
    df_results.at[i, 'statusId'] = df_status.loc[stat, 'status']
    df_results.at[i, 'constructorId'] = df_cons.loc[cs, 'constructorRef']
    
    df_results.at[i, 'year'] = df_races2.loc[rrac, 'year']
    df_results.at[i, 'round'] = df_races2.loc[rrac, 'round']
    df_results.at[i, 'circuitId'] = df_races2.loc[rrac, 'circuitId']
    df_results.at[i, 'url'] = df_races2.loc[rrac, 'url']

    df_results.at[i, 'driverId'] = df_drivers.loc[ddId, 'driverRef']
    df_results.at[i, 'date_of_birth'] = df_drivers.loc[ddId, 'dob']
    df_results.at[i, 'nationality'] = df_drivers.loc[ddId, 'nationality']

df_results.head()

,raceId,driverId,constructorId,grid,positionOrder,points,milliseconds,statusId,year,round,circuitId,url,date_of_birth,nationality
0,18,hamilton,mclaren,1,1,10.0,5690616,Finished,2008.0,1.0,albert_park,http://en.wikipedia.org/wiki/2008_Australian_G...,1985-01-07,British
1,18,heidfeld,bmw_sauber,5,2,8.0,5696094,Finished,2008.0,1.0,albert_park,http://en.wikipedia.org/wiki/2008_Australian_G...,1977-05-10,German
2,18,rosberg,williams,7,3,6.0,5698779,Finished,2008.0,1.0,albert_park,http://en.wikipedia.org/wiki/2008_Australian_G...,1985-06-27,German
3,18,alonso,renault,11,4,5.0,5707797,Finished,2008.0,1.0,albert_park,http://en.wikipedia.org/wiki/2008_Australian_G...,1981-07-29,Spanish
4,18,kovalainen,mclaren,3,5,4.0,5708630,Finished,2008.0,1.0,albert_park,http://en.wikipedia.org/wiki/2008_Australian_G...,1981-10-19,Finnish

In [14]:
#Sonuclar verisetini siralama ve duzenleme
df_results = df_results.sort_values(by=['year','round', 'positionOrder'])
df_results.reset_index(inplace = True, drop = True)
df_results.head()

,raceId,driverId,constructorId,grid,positionOrder,points,milliseconds,statusId,year,round,circuitId,url,date_of_birth,nationality
0,833,farina,alfa,1,1,9.0,8003600,Finished,1950.0,1.0,silverstone,http://en.wikipedia.org/wiki/1950_British_Gran...,1906-10-30,Italian
1,833,fagioli,alfa,2,2,6.0,8006200,Finished,1950.0,1.0,silverstone,http://en.wikipedia.org/wiki/1950_British_Gran...,1898-06-09,Italian
2,833,reg_parnell,alfa,4,3,4.0,8055600,Finished,1950.0,1.0,silverstone,http://en.wikipedia.org/wiki/1950_British_Gran...,1911-07-02,British
3,833,cabantous,lago,6,4,3.0,\N,+2 Laps,1950.0,1.0,silverstone,http://en.wikipedia.org/wiki/1950_British_Gran...,1904-10-08,French
4,833,rosier,lago,9,5,2.0,\N,+2 Laps,1950.0,1.0,silverstone,http://en.wikipedia.org/wiki/1950_British_Gran...,1905-11-05,French

In [15]:
df_results = df_results.astype({'year': 'int', 'round': 'int'})
df_results = df_results.iloc[:,[8,9,10,1,12,13,2,3,6,7,5,4,11]]
df_results.head()

,year,round,circuitId,driverId,date_of_birth,nationality,constructorId,grid,milliseconds,statusId,points,positionOrder,url
0,1950,1,silverstone,farina,1906-10-30,Italian,alfa,1,8003600,Finished,9.0,1,http://en.wikipedia.org/wiki/1950_British_Gran...
1,1950,1,silverstone,fagioli,1898-06-09,Italian,alfa,2,8006200,Finished,6.0,2,http://en.wikipedia.org/wiki/1950_British_Gran...
2,1950,1,silverstone,reg_parnell,1911-07-02,British,alfa,4,8055600,Finished,4.0,3,http://en.wikipedia.org/wiki/1950_British_Gran...
3,1950,1,silverstone,cabantous,1904-10-08,French,lago,6,\N,+2 Laps,3.0,4,http://en.wikipedia.org/wiki/1950_British_Gran...
4,1950,1,silverstone,rosier,1905-11-05,French,lago,9,\N,+2 Laps,2.0,5,http://en.wikipedia.org/wiki/1950_British_Gran...

In [16]:
#Surucu sonuclarini duzenleme
df_drivst = pd.read_csv('data/driver_standings.csv')
df_drivst = df_drivst.drop(columns=['positionText', 'driverStandingsId'])
df_drivst.head()

   raceId  driverId  points  position  wins
0      18         1    10.0         1     1
1      18         2     8.0         2     0
2      18         3     6.0         3     0
3      18         4     5.0         4     0
4      18         5     4.0         5     0

In [17]:
#Surucu sonuclarini daha anlamli hale getirme
for i in range(len(df_drivst.index)):
    ddId = df_drivst.iloc[i]['driverId']
    df_drivst.at[i, 'driverId'] = df_drivers.loc[ddId, 'driverRef']
    
    rrac = df_drivst.iloc[i]['raceId']
    df_drivst.at[i, 'year'] = df_races2.loc[rrac, 'year']
    df_drivst.at[i, 'round'] = df_races2.loc[rrac, 'round']
    
df_drivst.head()

   raceId    driverId  points  position  wins    year  round
0      18    hamilton    10.0         1     1  2008.0    1.0
1      18    heidfeld     8.0         2     0  2008.0    1.0
2      18     rosberg     6.0         3     0  2008.0    1.0
3      18      alonso     5.0         4     0  2008.0    1.0
4      18  kovalainen     4.0         5     0  2008.0    1.0

In [18]:
#Surucu sonuclarini duzenleme
df_drivst = df_drivst.astype({'year': 'int', 'round': 'int'})
df_drivst = df_drivst.iloc[:,[5,6,1,2,4,3]]
df_drivst = df_drivst.sort_values(by=['year','round', 'position'])
df_drivst.reset_index(inplace = True, drop = True)
df_drivst.head()

   year  round     driverId  points  wins  position
0  1950      1       farina     9.0     1         1
1  1950      1      fagioli     6.0     0         2
2  1950      1  reg_parnell     4.0     0         3
3  1950      1    cabantous     3.0     0         4
4  1950      1       rosier     2.0     0         5

In [19]:
#Daha sonra kullanilmak uzere skor hesaplama
def lookup (df, team, points):
    df['lookup1'] = df.year.astype(str) + df[team] + df['round'].astype(str)
    df['lookup2'] = df.year.astype(str) + df[team] + (df['round']-1).astype(str)
    new_df = df.merge(df[['lookup1', points]], how = 'left', left_on='lookup2',right_on='lookup1')
    new_df.drop(['lookup1_x', 'lookup2', 'lookup1_y'], axis = 1, inplace = True)
    new_df.rename(columns = {points+'_x': points+'_after_race', points+'_y': points}, inplace = True)
    new_df[points].fillna(0, inplace = True)
    return new_df

In [20]:
df_drivst = lookup(df_drivst, 'driverId', 'points')
df_drivst = lookup(df_drivst, 'driverId', 'wins')
df_drivst = lookup(df_drivst, 'driverId', 'position')
df_drivst.head()

,year,round,driverId,points_after_race,wins_after_race,position_after_race,points,wins,position
0,1950,1,farina,9.0,1,1,0.0,0.0,0.0
1,1950,1,fagioli,6.0,0,2,0.0,0.0,0.0
2,1950,1,reg_parnell,4.0,0,3,0.0,0.0,0.0
3,1950,1,cabantous,3.0,0,4,0.0,0.0,0.0
4,1950,1,rosier,2.0,0,5,0.0,0.0,0.0

In [21]:
#Takim sonuclarini duzenleme
df_const_st = pd.read_csv('data/constructor_standings.csv')
df_const_st = df_const_st.drop(columns=['positionText', 'constructorStandingsId'])
df_const_st.head()

   raceId  constructorId  points  position  wins
0      18              1    14.0         1     1
1      18              2     8.0         3     0
2      18              3     9.0         2     0
3      18              4     5.0         4     0
4      18              5     2.0         5     0

In [22]:
#Takim sonuclarini anlamlandirma
for i in range(len(df_const_st.index)):
    cs = df_const_st.iloc[i]['constructorId']
    df_const_st.at[i, 'constructorId'] = df_cons.loc[cs, 'constructorRef']
    
    rrac = df_const_st.iloc[i]['raceId']
    df_const_st.at[i, 'year'] = df_races2.loc[rrac, 'year']
    df_const_st.at[i, 'round'] = df_races2.loc[rrac, 'round']

df_const_st.head()

   raceId constructorId  points  position  wins    year  round
0      18       mclaren    14.0         1     1  2008.0    1.0
1      18    bmw_sauber     8.0         3     0  2008.0    1.0
2      18      williams     9.0         2     0  2008.0    1.0
3      18       renault     5.0         4     0  2008.0    1.0
4      18    toro_rosso     2.0         5     0  2008.0    1.0

In [23]:
#Veri tipi duzeltme
df_const_st = df_const_st.astype({'year': 'int', 'round': 'int'})
df_const_st = df_const_st.iloc[:,[5,6,1,2,4,3]]
df_const_st = df_const_st.sort_values(by=['year','round', 'position'])
df_const_st.reset_index(inplace = True, drop = True)
df_const_st.head()

   year  round constructorId  points  wins  position
0  1958      1        cooper     8.0     1         1
1  1958      1       ferrari     6.0     0         2
2  1958      1      maserati     3.0     0         3
3  1958      2        cooper    16.0     2         1
4  1958      2       ferrari    12.0     0         2

In [24]:
#Takim skorlarini ekleme
df_const_st = lookup(df_const_st, 'constructorId', 'points')
df_const_st = lookup(df_const_st, 'constructorId', 'wins')
df_const_st = lookup(df_const_st, 'constructorId', 'position')
df_const_st.head()

,year,round,constructorId,points_after_race,wins_after_race,position_after_race,points,wins,position
0,1958,1,cooper,8.0,1,1,0.0,0.0,0.0
1,1958,1,ferrari,6.0,0,2,0.0,0.0,0.0
2,1958,1,maserati,3.0,0,3,0.0,0.0,0.0
3,1958,2,cooper,16.0,2,1,8.0,1.0,1.0
4,1958,2,ferrari,12.0,0,2,6.0,0.0,2.0

In [25]:
#qualifying sonuclarini yazdirma
df_qualifying = pd.read_csv('data/qualifying_results.csv')

In [26]:
df_qualifying.head()

,grid_position,driver_name,car,qualifying_time,season,round
0,1,Keke Rosberg ROS,Williams Honda,1:34.526,1983,1
1,2,Alain Prost PRO,Renault,1:34.672,1983,1
2,3,Patrick Tambay TAM,Ferrari,1:34.758,1983,1
3,4,Nelson Piquet PIQ,Brabham BMW,1:35.114,1983,1
4,5,Derek Warwick WAR,Toleman Hart,1:35.206,1983,1

In [27]:
#Verisetlerini birlestirmek icin sutun isimlerini duzeltme
df_qualifying.rename(columns = {'grid_position': 'grid', 'season': 'year'}, inplace = True)

In [28]:
df_qualifying.head()

   grid           driver_name             car qualifying_time  year  round
0     1    Keke  Rosberg  ROS  Williams Honda        1:34.526  1983      1
1     2     Alain  Prost  PRO         Renault        1:34.672  1983      1
2     3  Patrick  Tambay  TAM         Ferrari        1:34.758  1983      1
3     4   Nelson  Piquet  PIQ     Brabham BMW        1:35.114  1983      1
4     5   Derek  Warwick  WAR    Toleman Hart        1:35.206  1983      1

In [29]:
#Hava durumu bilgisi
df_weather = pd.read_csv('data/weather.csv')
df_weather.head()

,season,round,circuit_id,weather,weather_warm,weather_cold,weather_dry,weather_wet,weather_cloudy
0,1950,1,silverstone,"Sunny, Mild, Dry",0,0,1,0,0
1,1950,2,monaco,Soleggiato,1,0,0,0,0
2,1950,3,indianapolis,Rainy,0,0,0,1,0
3,1950,4,bremgarten,"Warm, dry and sunny",1,0,1,0,0
4,1950,5,spa,"Warm, dry and sunny",1,0,1,0,0

In [30]:
#Verileri birlestirma

In [31]:
df_races = df_races.iloc[:,[0,1,2,6,7,8,4,5]]
df_races.head()

,year,round,circuitId,lat,lng,country,date,url
0,1950,1,silverstone,52.0786,-1.01694,UK,1950-05-13,http://en.wikipedia.org/wiki/1950_British_Gran...
1,1950,2,monaco,43.7347,7.42056,Monaco,1950-05-21,http://en.wikipedia.org/wiki/1950_Monaco_Grand...
2,1950,3,indianapolis,39.7950,-86.23470,USA,1950-05-30,http://en.wikipedia.org/wiki/1950_Indianapolis...
3,1950,4,bremgarten,46.9589,7.40194,Switzerland,1950-06-04,http://en.wikipedia.org/wiki/1950_Swiss_Grand_...
4,1950,5,spa,50.4372,5.97139,Belgium,1950-06-18,http://en.wikipedia.org/wiki/1950_Belgian_Gran...

In [32]:
#Sutun isim duzenleme
df_results.rename(columns = {'milliseconds': 'time', 'positionOrder': 'podium'}, inplace = True)
df_results.head()

,year,round,circuitId,driverId,date_of_birth,nationality,constructorId,grid,time,statusId,points,podium,url
0,1950,1,silverstone,farina,1906-10-30,Italian,alfa,1,8003600,Finished,9.0,1,http://en.wikipedia.org/wiki/1950_British_Gran...
1,1950,1,silverstone,fagioli,1898-06-09,Italian,alfa,2,8006200,Finished,6.0,2,http://en.wikipedia.org/wiki/1950_British_Gran...
2,1950,1,silverstone,reg_parnell,1911-07-02,British,alfa,4,8055600,Finished,4.0,3,http://en.wikipedia.org/wiki/1950_British_Gran...
3,1950,1,silverstone,cabantous,1904-10-08,French,lago,6,\N,+2 Laps,3.0,4,http://en.wikipedia.org/wiki/1950_British_Gran...
4,1950,1,silverstone,rosier,1905-11-05,French,lago,9,\N,+2 Laps,2.0,5,http://en.wikipedia.org/wiki/1950_British_Gran...

In [33]:
df_qualifying.head()

   grid           driver_name             car qualifying_time  year  round
0     1    Keke  Rosberg  ROS  Williams Honda        1:34.526  1983      1
1     2     Alain  Prost  PRO         Renault        1:34.672  1983      1
2     3  Patrick  Tambay  TAM         Ferrari        1:34.758  1983      1
3     4   Nelson  Piquet  PIQ     Brabham BMW        1:35.114  1983      1
4     5   Derek  Warwick  WAR    Toleman Hart        1:35.206  1983      1

In [34]:
#Gereksiz sutunlari droplama ve isim duzenleme
df_drivst.drop(['points_after_race', 'wins_after_race', 'position_after_race'] ,axis = 1, inplace = True)
df_drivst.rename(columns = {'points': 'driver_points', 'wins': 'driver_wins', 'position': 'driver_standings_pos'}, inplace = True)

In [35]:
df_drivst.head()

   year  round     driverId  driver_points  driver_wins  driver_standings_pos
0  1950      1       farina            0.0          0.0                   0.0
1  1950      1      fagioli            0.0          0.0                   0.0
2  1950      1  reg_parnell            0.0          0.0                   0.0
3  1950      1    cabantous            0.0          0.0                   0.0
4  1950      1       rosier            0.0          0.0                   0.0

In [36]:
df_const_st.drop(['points_after_race', 'wins_after_race', 'position_after_race'] ,axis = 1, inplace = True)
df_const_st.rename(columns = {'points': 'constructor_points', 'wins': 'constructor_wins','position': 'constructor_standings_pos'}, inplace = True)
df_const_st.head()

,year,round,constructorId,constructor_points,constructor_wins,constructor_standings_pos
0,1958,1,cooper,0.0,0.0,0.0
1,1958,1,ferrari,0.0,0.0,0.0
2,1958,1,maserati,0.0,0.0,0.0
3,1958,2,cooper,8.0,1.0,1.0
4,1958,2,ferrari,6.0,0.0,2.0

In [37]:
df_weather.rename(columns = {'season': 'year', 'circuit_id': 'circuitId'}, inplace = True)
df_weather.head()

,year,round,circuitId,weather,weather_warm,weather_cold,weather_dry,weather_wet,weather_cloudy
0,1950,1,silverstone,"Sunny, Mild, Dry",0,0,1,0,0
1,1950,2,monaco,Soleggiato,1,0,0,0,0
2,1950,3,indianapolis,Rainy,0,0,0,1,0
3,1950,4,bremgarten,"Warm, dry and sunny",1,0,1,0,0
4,1950,5,spa,"Warm, dry and sunny",1,0,1,0,0

In [38]:
#Elimizdeki her veri setini belirli sutunlara gore birlestirme
df1 = pd.merge(df_races, df_weather, how='inner', on=['year', 'round', 'circuitId']).drop(['lat', 'lng','country','weather'], axis = 1)
df2 = pd.merge(df1, df_results, how='inner', on=['year', 'round', 'circuitId', 'url']).drop(['url','points', 'statusId', 'time'], axis = 1)

df3 = pd.merge(df2, df_drivst, how='left', on=['year', 'round', 'driverId']) 
df4 = pd.merge(df3, df_const_st, how='left', on=['year', 'round', 'constructorId']) #1958'dem

final_df = pd.merge(df4, df_qualifying, how='inner', on=['year', 'round', 'grid']).drop(['driver_name', 'car'], axis = 1) #1983'den

In [39]:
#Final verisetinin gorunusu
final_df.head()

,year,round,circuitId,date,weather_warm,weather_cold,weather_dry,weather_wet,weather_cloudy,driverId,...,constructorId,grid,podium,driver_points,driver_wins,driver_standings_pos,constructor_points,constructor_wins,constructor_standings_pos,qualifying_time
0,1983,1,jacarepagua,1983-03-13,0,0,1,0,0,piquet,...,brabham,4,1,0.0,0.0,0.0,0.0,0.0,0.0,1:35.114
1,1983,1,jacarepagua,1983-03-13,0,0,1,0,0,lauda,...,mclaren,9,2,0.0,0.0,0.0,0.0,0.0,0.0,1:36.054
2,1983,1,jacarepagua,1983-03-13,0,0,1,0,0,laffite,...,williams,18,3,0.0,0.0,0.0,0.0,0.0,0.0,1:38.234
3,1983,1,jacarepagua,1983-03-13,0,0,1,0,0,tambay,...,ferrari,3,4,0.0,0.0,0.0,0.0,0.0,0.0,1:34.758
4,1983,1,jacarepagua,1983-03-13,0,0,1,0,0,surer,...,arrows,20,5,0.0,0.0,0.0,0.0,0.0,0.0,1:38.468

In [40]:
#Suruculerin yaslarini hesaplama

from dateutil.relativedelta import *

final_df['date'] = pd.to_datetime(final_df.date)
final_df['date_of_birth'] = pd.to_datetime(final_df.date_of_birth)
final_df['driver_age'] = final_df.apply(lambda x: relativedelta(x['date'], x['date_of_birth']).years, axis=1)
final_df.drop(['date', 'date_of_birth'], axis = 1, inplace = True)

In [41]:
#null degerleri doldurup droplama

for col in ['driver_points', 'driver_wins', 'driver_standings_pos', 'constructor_points', 
            'constructor_wins' , 'constructor_standings_pos']:
    final_df[col].fillna(0, inplace = True)
    final_df[col] = final_df[col].map(lambda x: int(x))
    
final_df.dropna(inplace = True )

In [42]:
#boolean formatina dondurme

for col in ['weather_warm', 'weather_cold','weather_dry', 'weather_wet', 'weather_cloudy']:
    final_df[col] = final_df[col].map(lambda x: bool(x))

In [43]:
#qualifying sureleri arasindaki farklari hesaplama

final_df['qualifying_time'] = final_df.qualifying_time.map(lambda x: 0 if str(x) == '00.000' 
                             else(float(str(x).split(':')[1]) + (60 * float(str(x).split(':')[0])) if x != 0 else 0))
final_df = final_df[final_df['qualifying_time'] != 0]
final_df.sort_values(['year', 'round', 'grid'], inplace = True)
final_df['qualifying_time_diff'] = final_df.groupby(['year', 'round']).qualifying_time.diff()
final_df['qualifying_time'] = final_df.groupby(['year', 'round']).qualifying_time_diff.cumsum().fillna(0)
final_df.drop('qualifying_time_diff', axis = 1, inplace = True)

In [44]:
#dummie degerleri hesaplama

df_dum = pd.get_dummies(final_df, columns = ['circuitId', 'nationality', 'constructorId'] )

for col in df_dum.columns:
    if 'nationality' in col and df_dum[col].sum() < 140:
        df_dum.drop(col, axis = 1, inplace = True)
        
    elif 'constructorId' in col and df_dum[col].sum() < 140:
        df_dum.drop(col, axis = 1, inplace = True)
        
    elif 'circuitId' in col and df_dum[col].sum() < 70:
        df_dum.drop(col, axis = 1, inplace = True)
    
    else:
        pass

In [45]:
df_dum.reset_index(inplace = True, drop = True)
df_dum.head()

,year,round,weather_warm,weather_cold,weather_dry,weather_wet,weather_cloudy,driverId,grid,podium,...,constructorId_minardi,constructorId_prost,constructorId_red_bull,constructorId_renault,constructorId_sauber,constructorId_team_lotus,constructorId_toro_rosso,constructorId_toyota,constructorId_tyrrell,constructorId_williams
0,1983,1,False,False,True,False,False,keke_rosberg,1,15,...,0,0,0,0,0,0,0,0,0,1
1,1983,1,False,False,True,False,False,prost,2,6,...,0,0,0,1,0,0,0,0,0,0
2,1983,1,False,False,True,False,False,tambay,3,4,...,0,0,0,0,0,0,0,0,0,0
3,1983,1,False,False,True,False,False,piquet,4,1,...,0,0,0,0,0,0,0,0,0,0
4,1983,1,False,False,True,False,False,warwick,5,7,...,0,0,0,0,0,0,0,0,0,0

In [46]:
np.set_printoptions(precision=4)

In [47]:
#Noron agina sokmadan once train verilerini duzenleme
df = df_dum.copy()
df.podium = df.podium.map(lambda x: 1 if x == 1 else 0)

train = df[df.year <2019]
X_train = train.drop(['driverId', 'podium'], axis = 1)
y_train = train.podium

scaler = StandardScaler()
X_train = pd.DataFrame(scaler.fit_transform(X_train), columns = X_train.columns)

In [53]:
#Modelin isabet skorunu hesaplamak icin fonksiyon
def score_calc(model):
    score = 0
    for circuit in df[df.year == 2019]['round'].unique():

        test = df[(df.year == 2019) & (df['round'] == circuit)]
        X_test = test.drop(['driverId', 'podium'], axis = 1)
        y_test = test.podium

        #scaling
        X_test = pd.DataFrame(scaler.transform(X_test), columns = X_test.columns)

        #tahmin kismi
        prediction_df = pd.DataFrame(model.predict_proba(X_test), columns = ['proba_0', 'proba_1'])
        prediction_df['actual'] = y_test.reset_index(drop = True)
        prediction_df.sort_values('proba_1', ascending = False, inplace = True)
        prediction_df.reset_index(inplace = True, drop = True)
        prediction_df['predicted'] = prediction_df.index
        prediction_df['predicted'] = prediction_df.predicted.map(lambda x: 1 if x == 0 else 0)
        print(prediction_df)

        score += precision_score(prediction_df.actual, prediction_df.predicted)

    model_score = score / df[df.year == 2019]['round'].unique().max()
    return model_score

In [49]:
#Farkli parametrelerin sonuclarini gormek icin dictionary
comparison_dict ={'model':[],
                  'params': [],
                  'score': []}

In [54]:
model = MLPClassifier(hidden_layer_sizes = (80,20,40,5), activation = 'relu', solver = 'adam', random_state = 1, max_iter=1000)
model.fit(X_train, y_train)
model_score = score_calc(model)

comparison_dict['model'].append('neural_network_classifier')
comparison_dict['params'].append(['(80,20,40,5)', 'relu', 'adam'])
comparison_dict['score'].append(model_score)

     proba_0       proba_1  actual  predicted
0   0.008605  9.913951e-01       0          1
1   0.805938  1.940618e-01       0          0
2   1.000000  3.143686e-08       0          0
3   1.000000  2.009279e-09       1          0
4   1.000000  5.125940e-12       0          0
5   1.000000  4.501636e-13       0          0
6   1.000000  9.182305e-17       0          0
7   1.000000  3.031588e-19       0          0
8   1.000000  1.728952e-28       0          0
9   1.000000  2.689367e-29       0          0
10  1.000000  2.590521e-31       0          0
11  1.000000  1.894444e-31       0          0
12  1.000000  5.154746e-35       0          0
13  1.000000  1.139827e-37       0          0
14  1.000000  5.662725e-38       0          0
15  1.000000  3.457166e-38       0          0
16  1.000000  7.946472e-50       0          0
17  1.000000  3.453355e-52       0          0
18  1.000000  2.454161e-53       0          0
19  1.000000  1.607435e-81       0          0
     proba_0        proba_1  actual  predicted
0   0.404126   5.958735e-01       0          1
1   0.999997   2.657320e-06       0          0
2   0.999998   2.086160e-06       1          0
3   1.000000   6.482326e-14       0          0
4   1.000000   2.411387e-17       0          0
5   1.000000   2.893898e-23       0          0
6   1.000000   1.677518e-23       0          0
7   1.000000   9.408125e-24       0          0
8   1.000000   1.439651e-29       0          0
9   1.000000   7.201724e-36       0          0
10  1.000000   1.478928e-38       0          0
11  1.000000   3.125906e-40       0          0
12  1.000000   2.300433e-48       0          0
13  1.000000   2.902487e-50       0          0
14  1.000000   2.479225e-55       0          0
15  1.000000   5.858607e-60       0          0
16  1.000000   1.728173e-61       0          0
17  1.000000   1.164557e-63       0          0
18  1.000000   1.811128e-73       0          0
19  1.000000  1.106513e-102       0          0
     proba_0       proba_1  actual  predicted
0   0.001666  9.983345e-01       1          1
1   0.896361  1.036387e-01       0          0
2   0.999680  3.198439e-04       0          0
3   1.000000  2.333727e-12       0          0
4   1.000000  9.002441e-14       0          0
5   1.000000  3.468226e-21       0          0
6   1.000000  1.181514e-25       0          0
7   1.000000  2.000670e-30       0          0
8   1.000000  3.991788e-31       0          0
9   1.000000  2.534737e-31       0          0
10  1.000000  9.200506e-43       0          0
11  1.000000  1.060465e-48       0          0
12  1.000000  2.183713e-50       0          0
13  1.000000  2.871254e-54       0          0
14  1.000000  2.338115e-59       0          0
15  1.000000  1.371323e-81       0          0
     proba_0       proba_1  actual  predicted
0   0.017445  9.825551e-01       1          1
1   0.999995  5.227843e-06       0          0
2   1.000000  2.767957e-07       0          0
3   1.000000  1.577480e-08       0          0
4   1.000000  8.578394e-17       0          0
5   1.000000  2.406488e-18       0          0
6   1.000000  6.632079e-27       0          0
7   1.000000  2.365485e-34       0          0
8   1.000000  7.764575e-36       0          0
9   1.000000  7.758462e-46       0          0
10  1.000000  4.774290e-51       0          0
11  1.000000  2.977593e-56       0          0
12  1.000000  2.391968e-58       0          0
13  1.000000  4.561454e-61       0          0
14  1.000000  1.098979e-64       0          0
15  1.000000  8.665386e-68       0          0
16  1.000000  5.113527e-70       0          0
17  1.000000  2.318350e-73       0          0
18  1.000000  2.322681e-98       0          0
    proba_0       proba_1  actual  predicted
0   0.44487  5.551303e-01       1          1
1   1.00000  7.775842e-08       0          0
2   1.00000  1.994144e-13       0          0
3   1.00000  2.788720e-14       0          0
4   1.00000  1.209813e-14       0          0
5   1.00000  8.420176e-21       0          0
6   1.00000  1.853298e-21       0          0
7   1.00000  7.659919e-30       0          0
8   1.00000  5.666886e-32       0          0
9   1.00000  5.221082e-32       0          0
10  1.00000  8.879877e-36       0          0
11  1.00000  3.960296e-38       0          0
12  1.00000  2.757052e-38       0          0
13  1.00000  9.357609e-39       0          0
14  1.00000  1.845555e-42       0          0
15  1.00000  2.383984e-52       0          0
16  1.00000  7.538043e-56       0          0
17  1.00000  4.773060e-62       0          0
18  1.00000  6.856073e-69       0          0
19  1.00000  3.115278e-72       0          0
     proba_0       proba_1  actual  predicted
0   0.058237  9.417633e-01       1          1
1   0.955983  4.401719e-02       0          0
2   0.997877  2.122549e-03       0          0
3   0.999999  8.851560e-07       0          0
4   1.000000  2.652878e-13       0          0
5   1.000000  3.084932e-14       0          0
6   1.000000  8.269130e-16       0          0
7   1.000000  2.212806e-16       0          0
8   1.000000  1.053504e-16       0          0
9   1.000000  1.152572e-29       0          0
10  1.000000  1.053293e-33       0          0
11  1.000000  2.834869e-34       0          0
12  1.000000  4.468601e-42       0          0
13  1.000000  1.281879e-42       0          0
14  1.000000  1.631878e-44       0          0
15  1.000000  5.469707e-51       0          0
16  1.000000  2.511165e-58       0          0
17  1.000000  2.449593e-79       0          0
    proba_0        proba_1  actual  predicted
0   0.00381   9.961903e-01       1          1
1   1.00000   8.906519e-11       0          0
2   1.00000   1.513883e-11       0          0
3   1.00000   1.196372e-13       0          0
4   1.00000   1.659541e-16       0          0
5   1.00000   1.339450e-17       0          0
6   1.00000   2.600997e-26       0          0
7   1.00000   6.956113e-29       0          0
8   1.00000   3.678285e-42       0          0
9   1.00000   3.423944e-50       0          0
10  1.00000   2.223294e-50       0          0
11  1.00000   3.418087e-55       0          0
12  1.00000   2.790279e-60       0          0
13  1.00000   3.077605e-62       0          0
14  1.00000   1.910820e-70       0          0
15  1.00000   1.237142e-72       0          0
16  1.00000   1.562647e-82       0          0
17  1.00000   2.013926e-85       0          0
18  1.00000   2.918756e-91       0          0
19  1.00000  2.133060e-123       0          0
     proba_0        proba_1  actual  predicted
0   0.001156   9.988438e-01       1          1
1   0.028716   9.712844e-01       0          0
2   0.999998   2.241116e-06       0          0
3   1.000000   1.586584e-15       0          0
4   1.000000   3.631402e-17       0          0
5   1.000000   6.135225e-25       0          0
6   1.000000   1.851058e-33       0          0
7   1.000000   7.297527e-43       0          0
8   1.000000   4.140911e-43       0          0
9   1.000000   8.944255e-49       0          0
10  1.000000   5.555635e-54       0          0
11  1.000000   9.348344e-56       0          0
12  1.000000   3.126375e-56       0          0
13  1.000000   1.603678e-62       0          0
14  1.000000   6.043539e-63       0          0
15  1.000000   3.561992e-71       0          0
16  1.000000   4.325392e-82       0          0
17  1.000000  1.261658e-118       0          0
     proba_0       proba_1  actual  predicted
0   0.008092  9.919077e-01       1          1
1   1.000000  1.804481e-08       0          0
2   1.000000  3.600496e-09       0          0
3   1.000000  2.141404e-11       0          0
4   1.000000  1.207359e-11       0          0
5   1.000000  7.616950e-12       0          0
6   1.000000  1.506031e-19       0          0
7   1.000000  4.018762e-24       0          0
8   1.000000  2.788025e-26       0          0
9   1.000000  4.833315e-30       0          0
10  1.000000  4.574240e-32       0          0
11  1.000000  3.537372e-34       0          0
12  1.000000  1.155095e-37       0          0
13  1.000000  1.766616e-39       0          0
14  1.000000  1.021528e-53       0          0
15  1.000000  7.837868e-58       0          0
16  1.000000  1.256533e-60       0          0
17  1.000000  1.480558e-61       0          0
18  1.000000  1.346918e-66       0          0
19  1.000000  1.267014e-96       0          0
     proba_0       proba_1  actual  predicted
0   0.000815  9.991849e-01       0          1
1   0.999991  9.223418e-06       0          0
2   0.999996  3.849645e-06       1          0
3   1.000000  2.250467e-10       0          0
4   1.000000  3.271814e-16       0          0
5   1.000000  1.128636e-19       0          0
6   1.000000  1.868827e-20       0          0
7   1.000000  3.278094e-21       0          0
8   1.000000  3.332682e-29       0          0
9   1.000000  9.506735e-37       0          0
10  1.000000  6.696628e-37       0          0
11  1.000000  6.363519e-42       0          0
12  1.000000  4.754827e-42       0          0
13  1.000000  5.858520e-47       0          0
14  1.000000  7.343301e-49       0          0
15  1.000000  4.671272e-51       0          0
16  1.000000  3.347595e-55       0          0
17  1.000000  1.008411e-82       0          0
     proba_0       proba_1  actual  predicted
0   0.978804  2.119598e-02       1          1
1   0.999357  6.427537e-04       0          0
2   0.999719  2.811131e-04       0          0
3   0.999848  1.521607e-04       0          0
4   0.999853  1.472731e-04       0          0
5   1.000000  6.360247e-09       0          0
6   1.000000  2.554603e-09       0          0
7   1.000000  8.861762e-12       0          0
8   1.000000  5.012468e-30       0          0
9   1.000000  2.912067e-31       0          0
10  1.000000  8.872138e-36       0          0
11  1.000000  3.055915e-36       0          0
12  1.000000  6.628291e-38       0          0
13  1.000000  1.631953e-44       0          0
14  1.000000  1.122608e-46       0          0
15  1.000000  3.221060e-54       0          0
16  1.000000  2.306758e-54       0          0
17  1.000000  4.499534e-56       0          0
18  1.000000  1.525533e-59       0          0
19  1.000000  3.184645e-86       0          0
     proba_0        proba_1  actual  predicted
0   0.041615   9.583849e-01       0          1
1   0.722838   2.771622e-01       1          0
2   0.999999   7.686944e-07       0          0
3   1.000000   1.191604e-07       0          0
4   1.000000   1.117324e-09       0          0
5   1.000000   1.318767e-18       0          0
6   1.000000   2.438322e-23       0          0
7   1.000000   4.183471e-26       0          0
8   1.000000   4.535310e-32       0          0
9   1.000000   4.408336e-34       0          0
10  1.000000   1.307334e-34       0          0
11  1.000000   1.063419e-36       0          0
12  1.000000   8.375895e-41       0          0
13  1.000000   1.115921e-41       0          0
14  1.000000   2.539609e-46       0          0
15  1.000000   1.326906e-48       0          0
16  1.000000   1.789616e-55       0          0
17  1.000000  2.417414e-100       0          0
     proba_0       proba_1  actual  predicted
0   0.005279  9.947213e-01       0          1
1   1.000000  5.210823e-13       0          0
2   1.000000  1.808818e-14       1          0
3   1.000000  3.070987e-17       0          0
4   1.000000  2.645720e-22       0          0
5   1.000000  6.844308e-37       0          0
6   1.000000  5.559790e-37       0          0
7   1.000000  1.444705e-37       0          0
8   1.000000  1.106682e-44       0          0
9   1.000000  1.529264e-45       0          0
10  1.000000  1.820011e-47       0          0
11  1.000000  9.012592e-55       0          0
12  1.000000  1.095961e-56       0          0
13  1.000000  2.802124e-60       0          0
14  1.000000  1.446730e-78       0          0
15  1.000000  1.071733e-84       0          0
     proba_0        proba_1  actual  predicted
0   0.052249   9.477514e-01       0          1
1   0.985932   1.406758e-02       1          0
2   0.999939   6.134693e-05       0          0
3   0.999986   1.353855e-05       0          0
4   1.000000   2.263624e-14       0          0
5   1.000000   1.981193e-14       0          0
6   1.000000   2.627488e-16       0          0
7   1.000000   2.390671e-18       0          0
8   1.000000   2.494116e-24       0          0
9   1.000000   1.469998e-28       0          0
10  1.000000   1.034659e-38       0          0
11  1.000000   3.344331e-41       0          0
12  1.000000   2.512717e-52       0          0
13  1.000000   7.385316e-53       0          0
14  1.000000   1.854276e-56       0          0
15  1.000000   3.883211e-66       0          0
16  1.000000   3.759607e-67       0          0
17  1.000000   5.816737e-70       0          0
18  1.000000  6.411871e-109       0          0
     proba_0       proba_1  actual  predicted
0   0.000427  9.995734e-01       1          1
1   1.000000  1.487516e-17       0          0
2   1.000000  4.569948e-32       0          0
3   1.000000  3.063698e-36       0          0
4   1.000000  4.039271e-37       0          0
5   1.000000  3.275738e-41       0          0
6   1.000000  4.443395e-45       0          0
7   1.000000  4.215418e-55       0          0
8   1.000000  3.492466e-59       0          0
9   1.000000  1.161761e-60       0          0
10  1.000000  7.176580e-66       0          0
11  1.000000  4.271792e-69       0          0
12  1.000000  1.233052e-69       0          0
13  1.000000  1.765532e-75       0          0
14  1.000000  1.057650e-79       0          0
15  1.000000  2.880482e-81       0          0
16  1.000000  1.163644e-85       0          0
17  1.000000  1.087469e-92       0          0
     proba_0       proba_1  actual  predicted
0   0.002941  9.970592e-01       0          1
1   0.999658  3.418562e-04       1          0
2   1.000000  4.327384e-09       0          0
3   1.000000  5.687813e-10       0          0
4   1.000000  1.235993e-15       0          0
5   1.000000  5.510192e-16       0          0
6   1.000000  1.362443e-20       0          0
7   1.000000  6.152769e-25       0          0
8   1.000000  3.268285e-32       0          0
9   1.000000  1.755398e-32       0          0
10  1.000000  3.377288e-40       0          0
11  1.000000  3.487584e-47       0          0
12  1.000000  5.501721e-54       0          0
13  1.000000  3.490952e-55       0          0
14  1.000000  3.962689e-57       0          0
15  1.000000  6.301269e-63       0          0
16  1.000000  9.194256e-65       0          0
17  1.000000  2.068001e-92       0          0
     proba_0       proba_1  actual  predicted
0   0.002320  9.976805e-01       0          1
1   0.965759  3.424100e-02       0          0
2   0.970354  2.964644e-02       1          0
3   0.998041  1.958619e-03       0          0
4   0.999048  9.520711e-04       0          0
5   0.999996  4.336725e-06       0          0
6   1.000000  5.625856e-12       0          0
7   1.000000  2.107436e-15       0          0
8   1.000000  2.109753e-19       0          0
9   1.000000  1.013604e-24       0          0
10  1.000000  4.505311e-27       0          0
11  1.000000  8.022670e-31       0          0
12  1.000000  1.180860e-32       0          0
13  1.000000  1.084908e-36       0          0
14  1.000000  1.325285e-37       0          0
15  1.000000  2.929164e-49       0          0
16  1.000000  1.602350e-51       0          0
17  1.000000  5.115269e-54       0          0
18  1.000000  7.360880e-56       0          0
19  1.000000  2.340382e-64       0          0
     proba_0       proba_1  actual  predicted
0   0.505026  4.949743e-01       0          1
1   0.999256  7.440667e-04       1          0
2   0.999989  1.064359e-05       0          0
3   0.999998  1.523860e-06       0          0
4   1.000000  9.947043e-13       0          0
5   1.000000  4.530476e-16       0          0
6   1.000000  2.196240e-17       0          0
7   1.000000  7.041355e-23       0          0
8   1.000000  2.814711e-23       0          0
9   1.000000  8.430088e-39       0          0
10  1.000000  2.503524e-48       0          0
11  1.000000  6.356763e-49       0          0
12  1.000000  2.472252e-50       0          0
13  1.000000  1.887291e-52       0          0
14  1.000000  1.101453e-54       0          0
15  1.000000  2.337637e-55       0          0
16  1.000000  1.959381e-57       0          0
17  1.000000  3.785789e-62       0          0
18  1.000000  6.501041e-74       0          0
     proba_0        proba_1  actual  predicted
0   0.466711   5.332893e-01       0          1
1   0.950603   4.939677e-02       0          0
2   0.997071   2.928945e-03       0          0
3   0.999557   4.432322e-04       1          0
4   0.999976   2.398810e-05       0          0
5   1.000000   1.500791e-19       0          0
6   1.000000   1.563698e-24       0          0
7   1.000000   4.563996e-27       0          0
8   1.000000   6.596957e-31       0          0
9   1.000000   5.175822e-39       0          0
10  1.000000   2.417033e-51       0          0
11  1.000000   5.735040e-53       0          0
12  1.000000   7.951856e-54       0          0
13  1.000000   4.989884e-57       0          0
14  1.000000   2.813102e-61       0          0
15  1.000000   6.977833e-62       0          0
16  1.000000   7.284152e-65       0          0
17  1.000000   3.507601e-65       0          0
18  1.000000  9.826836e-109       0          0
     proba_0       proba_1  actual  predicted
0   0.267135  7.328650e-01       1          1
1   0.990561  9.439087e-03       0          0
2   0.999763  2.370943e-04       0          0
3   1.000000  5.490585e-10       0          0
4   1.000000  2.027609e-11       0          0
5   1.000000  2.224480e-12       0          0
6   1.000000  1.932521e-17       0          0
7   1.000000  8.056813e-22       0          0
8   1.000000  2.435455e-35       0          0
9   1.000000  1.738727e-46       0          0
10  1.000000  3.510227e-47       0          0
11  1.000000  9.215929e-53       0          0
12  1.000000  8.591244e-53       0          0
13  1.000000  7.647411e-55       0          0
14  1.000000  2.123003e-62       0          0
15  1.000000  1.488690e-65       0          0
16  1.000000  2.421131e-73       0          0
17  1.000000  2.374452e-73       0          0
18  1.000000  3.061341e-76       0          0
19  1.000000  3.730090e-83       0          0

In [55]:
model = MLPClassifier(hidden_layer_sizes = (75, 25, 50, 10), activation = 'identity', solver = 'lbfgs', random_state = 1, max_iter=1000)
model.fit(X_train, y_train)
model_score = score_calc(model)

comparison_dict['model'].append('neural_network_classifier')
comparison_dict['params'].append(['(75, 25, 50, 10)', 'identity', 'lbfgs'])
comparison_dict['score'].append(model_score)

     proba_0   proba_1  actual  predicted
0   0.577098  0.422902       0          1
1   0.821656  0.178344       1          0
2   0.827274  0.172726       0          0
3   0.834147  0.165853       0          0
4   0.963219  0.036781       0          0
5   0.985795  0.014205       0          0
6   0.993740  0.006260       0          0
7   0.995607  0.004393       0          0
8   0.999204  0.000796       0          0
9   0.999209  0.000791       0          0
10  0.999374  0.000626       0          0
11  0.999407  0.000593       0          0
12  0.999575  0.000425       0          0
13  0.999708  0.000292       0          0
14  0.999717  0.000283       0          0
15  0.999762  0.000238       0          0
16  0.999776  0.000224       0          0
17  0.999949  0.000051       0          0
18  0.999963  0.000037       0          0
19  0.999990  0.000010       0          0
     proba_0   proba_1  actual  predicted
0   0.750943  0.249057       1          1
1   0.752160  0.247840       0          0
2   0.814054  0.185946       0          0
3   0.886267  0.113733       0          0
4   0.901184  0.098816       0          0
5   0.979702  0.020298       0          0
6   0.992366  0.007634       0          0
7   0.994448  0.005552       0          0
8   0.998838  0.001162       0          0
9   0.998883  0.001117       0          0
10  0.999233  0.000767       0          0
11  0.999389  0.000611       0          0
12  0.999753  0.000247       0          0
13  0.999919  0.000081       0          0
14  0.999933  0.000067       0          0
15  0.999943  0.000057       0          0
16  0.999960  0.000040       0          0
17  0.999975  0.000025       0          0
18  0.999980  0.000020       0          0
19  0.999994  0.000006       0          0
     proba_0   proba_1  actual  predicted
0   0.617717  0.382283       1          1
1   0.682975  0.317025       0          0
2   0.827776  0.172224       0          0
3   0.876672  0.123328       0          0
4   0.940191  0.059809       0          0
5   0.974269  0.025731       0          0
6   0.987298  0.012702       0          0
7   0.995656  0.004344       0          0
8   0.998934  0.001066       0          0
9   0.999016  0.000984       0          0
10  0.999473  0.000527       0          0
11  0.999831  0.000169       0          0
12  0.999846  0.000154       0          0
13  0.999934  0.000066       0          0
14  0.999948  0.000052       0          0
15  0.999963  0.000037       0          0
     proba_0   proba_1  actual  predicted
0   0.646584  0.353416       1          1
1   0.700317  0.299683       0          0
2   0.853362  0.146638       0          0
3   0.856829  0.143171       0          0
4   0.972799  0.027201       0          0
5   0.979332  0.020668       0          0
6   0.996032  0.003968       0          0
7   0.997402  0.002598       0          0
8   0.999081  0.000919       0          0
9   0.999575  0.000425       0          0
10  0.999745  0.000255       0          0
11  0.999832  0.000168       0          0
12  0.999849  0.000151       0          0
13  0.999853  0.000147       0          0
14  0.999936  0.000064       0          0
15  0.999944  0.000056       0          0
16  0.999953  0.000047       0          0
17  0.999980  0.000020       0          0
18  0.999983  0.000017       0          0
     proba_0   proba_1  actual  predicted
0   0.470568  0.529432       1          1
1   0.760054  0.239946       0          0
2   0.767889  0.232111       0          0
3   0.896797  0.103203       0          0
4   0.988079  0.011921       0          0
5   0.990411  0.009589       0          0
6   0.993156  0.006844       0          0
7   0.997495  0.002505       0          0
8   0.998222  0.001778       0          0
9   0.998372  0.001628       0          0
10  0.999209  0.000791       0          0
11  0.999551  0.000449       0          0
12  0.999665  0.000335       0          0
13  0.999814  0.000186       0          0
14  0.999893  0.000107       0          0
15  0.999967  0.000033       0          0
16  0.999977  0.000023       0          0
17  0.999981  0.000019       0          0
18  0.999982  0.000018       0          0
19  0.999986  0.000014       0          0
     proba_0   proba_1  actual  predicted
0   0.599560  0.400440       1          1
1   0.707330  0.292670       0          0
2   0.944921  0.055079       0          0
3   0.960382  0.039618       0          0
4   0.970897  0.029103       0          0
5   0.983954  0.016046       0          0
6   0.986286  0.013714       0          0
7   0.988122  0.011878       0          0
8   0.991850  0.008150       0          0
9   0.996111  0.003889       0          0
10  0.999614  0.000386       0          0
11  0.999796  0.000204       0          0
12  0.999865  0.000135       0          0
13  0.999911  0.000089       0          0
14  0.999952  0.000048       0          0
15  0.999958  0.000042       0          0
16  0.999971  0.000029       0          0
17  0.999978  0.000022       0          0
     proba_0       proba_1  actual  predicted
0   0.435201  5.647993e-01       1          1
1   0.781996  2.180044e-01       0          0
2   0.855080  1.449202e-01       0          0
3   0.942700  5.729951e-02       0          0
4   0.955676  4.432351e-02       0          0
5   0.967083  3.291705e-02       0          0
6   0.973147  2.685253e-02       0          0
7   0.995098  4.901571e-03       0          0
8   0.996872  3.127622e-03       0          0
9   0.999004  9.959165e-04       0          0
10  0.999029  9.710673e-04       0          0
11  0.999171  8.287571e-04       0          0
12  0.999573  4.268569e-04       0          0
13  0.999917  8.340748e-05       0          0
14  0.999938  6.246172e-05       0          0
15  0.999965  3.546972e-05       0          0
16  0.999988  1.211724e-05       0          0
17  0.999994  6.160034e-06       0          0
18  0.999997  2.696013e-06       0          0
19  0.999999  8.067120e-07       0          0
     proba_0   proba_1  actual  predicted
0   0.669046  0.330954       1          1
1   0.705993  0.294007       0          0
2   0.832058  0.167942       0          0
3   0.853893  0.146107       0          0
4   0.964542  0.035458       0          0
5   0.983044  0.016956       0          0
6   0.991557  0.008443       0          0
7   0.997454  0.002546       0          0
8   0.999441  0.000559       0          0
9   0.999479  0.000521       0          0
10  0.999607  0.000393       0          0
11  0.999895  0.000105       0          0
12  0.999916  0.000084       0          0
13  0.999931  0.000069       0          0
14  0.999934  0.000066       0          0
15  0.999953  0.000047       0          0
16  0.999970  0.000030       0          0
17  0.999997  0.000003       0          0
     proba_0   proba_1  actual  predicted
0   0.551497  0.448503       1          1
1   0.705710  0.294290       0          0
2   0.830110  0.169890       0          0
3   0.945828  0.054172       0          0
4   0.962539  0.037461       0          0
5   0.973162  0.026838       0          0
6   0.991311  0.008689       0          0
7   0.995513  0.004487       0          0
8   0.996114  0.003886       0          0
9   0.997825  0.002175       0          0
10  0.998172  0.001828       0          0
11  0.999011  0.000989       0          0
12  0.999637  0.000363       0          0
13  0.999948  0.000052       0          0
14  0.999966  0.000034       0          0
15  0.999981  0.000019       0          0
16  0.999985  0.000015       0          0
17  0.999994  0.000006       0          0
18  0.999996  0.000004       0          0
19  0.999998  0.000002       0          0
     proba_0   proba_1  actual  predicted
0   0.414125  0.585875       0          1
1   0.675943  0.324057       1          0
2   0.853502  0.146498       0          0
3   0.959911  0.040089       0          0
4   0.973171  0.026829       0          0
5   0.976487  0.023513       0          0
6   0.994132  0.005868       0          0
7   0.999218  0.000782       0          0
8   0.999634  0.000366       0          0
9   0.999682  0.000318       0          0
10  0.999768  0.000232       0          0
11  0.999802  0.000198       0          0
12  0.999907  0.000093       0          0
13  0.999940  0.000060       0          0
14  0.999954  0.000046       0          0
15  0.999963  0.000037       0          0
16  0.999978  0.000022       0          0
17  0.999993  0.000007       0          0
     proba_0   proba_1  actual  predicted
0   0.542227  0.457773       0          1
1   0.655334  0.344666       1          0
2   0.801526  0.198474       0          0
3   0.947711  0.052289       0          0
4   0.969603  0.030397       0          0
5   0.983854  0.016146       0          0
6   0.985083  0.014917       0          0
7   0.989247  0.010753       0          0
8   0.998100  0.001900       0          0
9   0.998130  0.001870       0          0
10  0.999457  0.000543       0          0
11  0.999896  0.000104       0          0
12  0.999943  0.000057       0          0
13  0.999950  0.000050       0          0
14  0.999979  0.000021       0          0
15  0.999982  0.000018       0          0
16  0.999983  0.000017       0          0
17  0.999987  0.000013       0          0
18  0.999989  0.000011       0          0
19  0.999993  0.000007       0          0
     proba_0       proba_1  actual  predicted
0   0.610324  3.896760e-01       0          1
1   0.821692  1.783078e-01       0          0
2   0.874886  1.251141e-01       0          0
3   0.887414  1.125859e-01       1          0
4   0.904610  9.538960e-02       0          0
5   0.986893  1.310681e-02       0          0
6   0.998257  1.742818e-03       0          0
7   0.998670  1.329553e-03       0          0
8   0.998965  1.035235e-03       0          0
9   0.999066  9.335783e-04       0          0
10  0.999314  6.856076e-04       0          0
11  0.999606  3.937844e-04       0          0
12  0.999856  1.437919e-04       0          0
13  0.999874  1.259175e-04       0          0
14  0.999892  1.079774e-04       0          0
15  0.999919  8.066572e-05       0          0
16  0.999945  5.454879e-05       0          0
17  0.999999  8.498510e-07       0          0
     proba_0   proba_1  actual  predicted
0   0.502585  0.497415       0          1
1   0.861096  0.138904       0          0
2   0.878377  0.121623       1          0
3   0.916758  0.083242       0          0
4   0.972720  0.027280       0          0
5   0.980105  0.019895       0          0
6   0.990533  0.009467       0          0
7   0.999538  0.000462       0          0
8   0.999816  0.000184       0          0
9   0.999835  0.000165       0          0
10  0.999867  0.000133       0          0
11  0.999928  0.000072       0          0
12  0.999972  0.000028       0          0
13  0.999977  0.000023       0          0
14  0.999991  0.000009       0          0
15  0.999992  0.000008       0          0
     proba_0       proba_1  actual  predicted
0   0.585171  4.148286e-01       0          1
1   0.865372  1.346280e-01       0          0
2   0.886505  1.134950e-01       0          0
3   0.908324  9.167623e-02       1          0
4   0.956192  4.380845e-02       0          0
5   0.980158  1.984244e-02       0          0
6   0.989510  1.049004e-02       0          0
7   0.993753  6.246944e-03       0          0
8   0.997190  2.810225e-03       0          0
9   0.999293  7.072846e-04       0          0
10  0.999456  5.441356e-04       0          0
11  0.999682  3.183837e-04       0          0
12  0.999924  7.642438e-05       0          0
13  0.999978  2.212240e-05       0          0
14  0.999982  1.792001e-05       0          0
15  0.999985  1.471932e-05       0          0
16  0.999993  7.361733e-06       0          0
17  0.999995  5.360065e-06       0          0
18  0.999999  9.881335e-07       0          0
     proba_0   proba_1  actual  predicted
0   0.520781  0.479219       1          1
1   0.847388  0.152612       0          0
2   0.871557  0.128443       0          0
3   0.915534  0.084466       0          0
4   0.940047  0.059953       0          0
5   0.978511  0.021489       0          0
6   0.979426  0.020574       0          0
7   0.990069  0.009931       0          0
8   0.998971  0.001029       0          0
9   0.999732  0.000268       0          0
10  0.999822  0.000178       0          0
11  0.999824  0.000176       0          0
12  0.999829  0.000171       0          0
13  0.999896  0.000104       0          0
14  0.999917  0.000083       0          0
15  0.999960  0.000040       0          0
16  0.999969  0.000031       0          0
17  0.999990  0.000010       0          0
     proba_0   proba_1  actual  predicted
0   0.749145  0.250855       0          1
1   0.787105  0.212895       0          0
2   0.891032  0.108968       1          0
3   0.905687  0.094313       0          0
4   0.914732  0.085268       0          0
5   0.979268  0.020732       0          0
6   0.989241  0.010759       0          0
7   0.994644  0.005356       0          0
8   0.998098  0.001902       0          0
9   0.999504  0.000496       0          0
10  0.999647  0.000353       0          0
11  0.999725  0.000275       0          0
12  0.999782  0.000218       0          0
13  0.999948  0.000052       0          0
14  0.999974  0.000026       0          0
15  0.999979  0.000021       0          0
16  0.999991  0.000009       0          0
17  0.999994  0.000006       0          0
     proba_0       proba_1  actual  predicted
0   0.643197  3.568033e-01       1          1
1   0.846985  1.530150e-01       0          0
2   0.853589  1.464112e-01       0          0
3   0.869534  1.304660e-01       0          0
4   0.964058  3.594176e-02       0          0
5   0.977036  2.296350e-02       0          0
6   0.981562  1.843792e-02       0          0
7   0.994785  5.215005e-03       0          0
8   0.998732  1.267712e-03       0          0
9   0.998885  1.115105e-03       0          0
10  0.999750  2.504751e-04       0          0
11  0.999794  2.057525e-04       0          0
12  0.999833  1.665837e-04       0          0
13  0.999917  8.334537e-05       0          0
14  0.999941  5.858180e-05       0          0
15  0.999962  3.795387e-05       0          0
16  0.999987  1.314434e-05       0          0
17  0.999990  1.003915e-05       0          0
18  0.999999  1.408006e-06       0          0
19  0.999999  7.001928e-07       0          0
     proba_0   proba_1  actual  predicted
0   0.751230  0.248770       1          1
1   0.808938  0.191062       0          0
2   0.813024  0.186976       0          0
3   0.853949  0.146051       0          0
4   0.966489  0.033511       0          0
5   0.979063  0.020937       0          0
6   0.989256  0.010744       0          0
7   0.995371  0.004629       0          0
8   0.998338  0.001662       0          0
9   0.998780  0.001220       0          0
10  0.998799  0.001201       0          0
11  0.999797  0.000203       0          0
12  0.999941  0.000059       0          0
13  0.999978  0.000022       0          0
14  0.999981  0.000019       0          0
15  0.999984  0.000016       0          0
16  0.999987  0.000013       0          0
17  0.999992  0.000008       0          0
18  0.999997  0.000003       0          0
     proba_0   proba_1  actual  predicted
0   0.614227  0.385773       0          1
1   0.623240  0.376760       1          0
2   0.858750  0.141250       0          0
3   0.909338  0.090662       0          0
4   0.982214  0.017786       0          0
5   0.993150  0.006850       0          0
6   0.996411  0.003589       0          0
7   0.997891  0.002109       0          0
8   0.999300  0.000700       0          0
9   0.999449  0.000551       0          0
10  0.999558  0.000442       0          0
11  0.999852  0.000148       0          0
12  0.999895  0.000105       0          0
13  0.999941  0.000059       0          0
14  0.999946  0.000054       0          0
15  0.999971  0.000029       0          0
16  0.999978  0.000022       0          0
17  0.999983  0.000017       0          0
18  0.999998  0.000002       0          0
     proba_0   proba_1  actual  predicted
0   0.424250  0.575750       1          1
1   0.713050  0.286950       0          0
2   0.946489  0.053511       0          0
3   0.953718  0.046282       0          0
4   0.986092  0.013908       0          0
5   0.988314  0.011686       0          0
6   0.990118  0.009882       0          0
7   0.996767  0.003233       0          0
8   0.997190  0.002810       0          0
9   0.999304  0.000696       0          0
10  0.999567  0.000433       0          0
11  0.999792  0.000208       0          0
12  0.999931  0.000069       0          0
13  0.999949  0.000051       0          0
14  0.999981  0.000019       0          0
15  0.999983  0.000017       0          0
16  0.999986  0.000014       0          0
17  0.999993  0.000007       0          0
18  0.999995  0.000005       0          0
19  0.999998  0.000002       0          0

In [52]:
pd.DataFrame(comparison_dict).groupby('model').head()

                       model                               params     score
0  neural_network_classifier           [(80,20,40,5), relu, adam]  0.476190
1  neural_network_classifier  [(75, 25, 50, 10), identity, lbfgs]  0.571429